APP_NAME=shaper
PORT=3001
FRONTEND_HOST_URL=http://localhost:3000

ENABLE_SWAGGER=true

# Database connection
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=root
DATABASE_DATABASE=shaper

# JWT-token config
# JWT_SECRET can be any random string when running a dev mode
JWT_SECRET=Secret
AUTH_TOKEN_EXPIRATION=1d
JWT_REFRESH_SECRET=RefreshSecret
REFRESH_TOKEN_EXPIRATION=30d

# Mailer
MAILER_PROVIDER=mailhug
MAILER_EMAIL_FROM=noreply@example.com

# Mailhog settings
MAILHOG_HOST=localhost
MAILHOG_PORT=1025
